In [1]:
# Libraries

import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the data

In [4]:
#load data from public url
url = "threegorges-water-storage.csv"
data = pd.read_csv(url, sep=',')

data

,measurement_date,upstream_water_level,downstream_water_level,inflow_rate,outflow_rate
0,2011 Apr 17,159.94,64.82,6500.0,7490.0
1,2011 Apr 18,159.62,65.20,6100.0,8070.0
2,2011 Apr 19,159.30,64.85,5800.0,8100.0
3,2011 Apr 20,158.94,64.58,5800.0,8080.0
4,2011 Apr 21,158.70,65.14,6600.0,8140.0
...,...,...,...,...,...
3662,2021 Apr 26,159.97,43.21,10500.0,14900.0
3663,2021 Apr 27,159.74,42.85,10500.0,11600.0
3664,2021 Apr 28,159.17,43.22,9800.0,15100.0
3665,2021 Apr 29,158.73,43.41,9500.0,13300.0
3666,2021 Apr 30,158.48,43.86,9000.0,11700.0